body {
  background-color: black;
}
.ap {
  background: black;
}
.ab {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 300px;
  font-style: normal;
  font-size: 36px;
  color: #ffffff;
  margin: 40px 500px;
}
